.footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 24px;
    padding-bottom: env(safe-area-inset-bottom);
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color);
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 1px 8px 0;
}

.icon {
    padding: 4px;
}

.text {
    font-size: 10px;
    line-height: 12px;
}

.selected {
    color: var(--brand-color);
    font-weight: 500;
}

@media (width >=810px) {
    .footer {
        display: none;
    }
}